spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/nepalairlines
    username: postgres
    password: 6441
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
          format_sql: true
          dialect: org.hibernate.dialect.PostgreSQL81Dialect
    show-sql: true
server:
  servlet:
    context-path: /nepalairlines/api/v1
  port: 8082